:root {
    --primary-color: #1e9dc8;
    --secondary-color: #6bd5e1;
    --accent-color: #f0523d;
    --secondary-accent-color: #f2e678;
    --background-color: #f0f0f0;
    --font-color: #000000;
    --chip-text-color: #ffffff;
    --list-item-background: #ffffff;
    --list-item-shadow: rgba(0, 0, 0, 0.1);
}

body {
    margin: 0;
    padding: 0;
    font-family: "Spectral", serif;
}

#hero {
    background: linear-gradient(135deg, var(--accent-color), var(--primary-color), var(--secondary-color), var(--secondary-accent-color));
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

#scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#hero-content {
    background: rgba(0, 0, 0, 0.1);
    width: max-content;
    max-width: calc(100% - 120px);
    padding: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}

#hero p {
    margin: 0;
    padding: 0;
}

#hero-overlay {
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#hero #demo-preview {
    position: absolute;
    bottom: 120px;
    right: 50px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
    transform: perspective(1000px) rotateY(-15deg);
}

#hero #demo-preview img {
    max-width: 100% !important;
}

#preview-images {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto;
}

.preview-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#preview-images img {
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

@media screen and (max-width: 768px) {

    #hero p,
    #hero small {
        font-size: 0.7rem;
    }

    #hero h1 {
        font-size: 1.2rem;
    }

    #hero #demo-preview {
        bottom: 120px;
        right: 120px;
        width: 50%;
    }

    #preview-images {
        flex-direction: column;
    }

    #preview-images img {
        width: 85%;
    }
}


/* Live demo */

#demo-live {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: "Spectral", serif;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        max-width: 600px;
    }

    #top-stories-list {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
        margin-bottom: 80px !important;
    }

    #top-stories-list li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
        background-color: var(--list-item-background);
        box-shadow: 0 0 10px var(--list-item-shadow);
    }

    #top-stories-list li .play-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 100%;
        cursor: pointer;
        user-select: none;
    }

    .play-icon svg {
        fill: var(--primary-color);
    }

    .top-stories-list-title {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--font-color);
    height: 100%;
    width: 100%;
}

#extension-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
        color: var(--chip-text-color);
        text-decoration: none;
        background-color: var(--accent-color);
        padding: 10px 20px;
        border-radius: 5px;
        display: flex;
    }

    a:hover {
        background-color: var(--secondary-accent-color);
        color: var(--font-color);
    }
}

#progress-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 5px;
    background-color: var(--list-item-background);
}

#progress {
    height: 100%;
    background-color: var(--primary-color);
}

#copy-button {
    margin-bottom: 20px;
}